.big-readmore {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    text-transform: uppercase;
    font-weight: var(--semi-bold);
    background-color: transparent;
    font-size: 20px;
    text-align: center;
}

.big-readmore:hover {
    background-color: var(--primary-color);
    color: #fff;
    text-align: center;
}

a:hover {
    color: #fff;
}

.section {
    width: 100%;
    display: grid;
    place-items: center;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.column {
    width: 100%;
    padding: 0 1em 1em 1em;
    text-align: center;
}

.card {
    width: 100%;
    height: 100%;
    padding: 2em 1.5em;
    background: linear-gradient(#ffffff 50%, #d20000 50%);
    background-size: 100% 200%;
    background-position: 0 2.5%;
    border-radius: 5px;
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    transition: 0.5s;
}

.card1 {
    width: 100%;
    height: 100%;
    padding: 2em 1.5em;
    background: linear-gradient(#ffffff 50%, #f4b60d 50%);
    background-size: 100% 200%;
    background-position: 0 2.5%;
    border-radius: 5px;
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    transition: 0.5s;
    text-align: center;
    border: 2px solid #f4b60d;
    margin-bottom: 50px;
}

.card2 {
    width: 100%;
    height: 100%;
    padding: 2em 1.5em;
    background: linear-gradient(#ffffff 50%, #12273d 50%);
    background-size: 100% 200%;
    background-position: 0 2.5%;
    border-radius: 5px;
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    transition: 0.5s;
    text-align: center;
    border: 2px solid #12273d;
}

.card p {
    color: #575a7b;
    font-size: 15px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    text-align: center;
}

.icon-wrapper {
    background-color: #d20000;
    position: relative;
    margin: auto;
    font-size: 30px;
    height: 2.5em;
    width: 2.5em;
    color: #ffffff;
    border-radius: 50%;
    display: grid;
    place-items: center;
    transition: 0.5s;
}

.icon-wrapper2 {

    position: relative;
    margin: auto;
    font-size: 30px;
    height: 100%;
    width: 100%;
    color: #ffffff;
    border-radius: 50%;
    display: grid;
    place-items: center;
    transition: 0.5s;
}

.card:hover {
    background-position: 0 100%;
}

.card:hover .icon-wrapper {
    background-color: #ffffff;
    color: #2c7bfe;
}

.card:hover h3 {
    color: #ffffff;
}

.card:hover p {
    color: #f0f0f0;
}

@media screen and (min-width: 768px) {
    .section {
        padding: 0 2em;
    }

    .column {
        flex: 0 50%;
        max-width: 50%;
    }
}

@media screen and (min-width: 992px) {
    .section {
        padding: 1em 3em;
    }

    .column {
        flex: 0 0 33.33%;
        max-width: 33.33%;
    }
}
